.main-conetnt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-conetnt > form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-conetnt > form > div{
    display: flex;
    margin: 1rem 0;
}
.main-conetnt > form > div > *{
    margin: 0 1rem;
}
label {
    margin-right: 15px;
}
mat-checkbox {
    margin: 10px 0;
}