.lineName {
    /* border-bottom: 1px solid gray; */
    font-size: 1.1rem;
}
.centerLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.centerLine > * {
    margin: 5px;
}
.onOff {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ofset {
    margin-left: 20px;
}
h2 {
    margin: 0 0 .6rem 0;
}
mat-divider {
    margin: .5rem 0;
}