.main-conetnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerLine {
    margin: 1rem 0; 
    font-size: 1.3rem;
}
.submitButton {
    margin-left: 10px;
}
